@model IEnumerable<OpenFlowCRMModels.Models.Partite>

@{
    ViewData["Title"] = "Index";
}

@*

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

//////////////////////////
*@

 <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="application/javascript" src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>


<!-- Moment.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>





<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
</head>

<body>


    @if (Model.FirstOrDefault()?.Stato < OpenFlowCRMModels.STATO_PARTITA.CARICATA)
    {
        <h1>Piano Di Carico</h1>
    }
    else
    {
        <h1>Partite Caricate</h1>
    }

    
@* 
    
    <label>Inizio:</label>
    <input id="startdate" class="date_range_filter" />
    <label>Fine:</label>
    <input id="enddate" class="date_range_filter" /> *@

    <hr />

    <table class=" table dataTable" id="pianoDiCaricoTable">
        <thead>
            <tr>
                <th>
                    Descrizione
                </th>
                <th>
                    Pezzi Al Carico
                </th>
                <th>
                    Numero Carichi
                </th>
                <th>
                    Data Consegna
                </th>
                <th>
                    Modello
                </th>
                <th>
                    Ordine
                </th>
                <th>
                    Cliente
                </th>
                @if (Model.FirstOrDefault()?.Stato < OpenFlowCRMModels.STATO_PARTITA.CARICATA)
                {
                    <th>
                        Avvenuto carico
                    </th>
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descrizione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PezziAlCarico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ncarichi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataConsegna)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelloNavigation.Descrizione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrdineNavigation.OrdiniId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrdineNavigation.ClienteNavigation.Nome)
                    </td>
                    @if (item.Stato < OpenFlowCRMModels.STATO_PARTITA.CARICATA)
                    {
                        <td>
                            <input type="button" value="Conferma" onclick="if (confirm('Confermare carico?')) {location.href='@Url.Action("AvvenutoCarico", "Partite")?id=@item.PartiteId'}" />
                        </td>
                    }
                    @*<td>
                        <a asp-action="Edit" asp-route-id="@item.PartiteId">Modifica</a> |
                        <a asp-action="Details" asp-route-id="@item.PartiteId">Dettagli</a> |
                        <a asp-action="Delete" asp-route-id="@item.PartiteId">Cancella</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>

    
</body>
