@model IEnumerable<OpenFlowCRMModels.Models.ComponentiMerce>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoComponente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialeComponente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lunghezza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Larghezza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altezza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialeComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lunghezza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Larghezza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altezza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdcomponenteMerce">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.IdcomponenteMerce">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.IdcomponenteMerce">Cancella</a>
            </td>
        </tr>
}
    </tbody>
</table>
