@model IEnumerable<OpenFlowCRMModels.Models.VwPianoRiordino>

<h2>Piano Riordino</h2>


<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="application/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<!-- Moment.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<label>Inizio:</label>
<input id="startdate" class="date_range_filter" />
<label>Fine:</label>
<input id="enddate" class="date_range_filter" />

<hr />

<table class=" table dataTable" id="PianoRiordinoTable">
    <thead>
        <tr>
            <th>Data Consegna Partita</th>
            <th>Tipo Componente</th>
            <th>Larghezza</th>
            <th>Lunghezza</th>
            <th>Altezza</th>
            <th>Totale Pezzi Richiesti</th>
            <th>Metri Cubi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DataConsegnaPartita</td>
                <td>@item.TipoComponente</td>
                <td>@item.Larghezza</td>
                <td>@item.Lunghezza</td>
                <td>@item.Altezza</td>
                <td>@item.TotalePezziRichiesti</td>
                <td>@item.MetriCubi</td>
            </tr>
        }
    </tbody>
</table>
<script>


    jQuery(document).ready(function () {

        var table = jQuery('#PianoRiordinoTable').DataTable({
            "language": {
                "sProcessing": "Elaborando...",
                "sLengthMenu": "Mostra _MENU_ pagine",
                "sZeroRecords": "Nessun risultato trovato",
                "sEmptyTable": "Nessun dato disponibile in questa tabella",
                "sInfo": "Mostra pagine da _START_ a _END_ per un totale di _TOTAL_ pagine",
                "sInfoEmpty": "Mostra pagine da 0 a 0 per un totale di 0 pagine",
                "sInfoFiltered": "(filtra un totale di _MAX_ pagine)",
                "sInfoPostFix": "",
                "sSearch": "Cerca:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Caricamento...",
                "oPaginate": {
                    "sFirst": "Primo",
                    "sLast": "Ultimo",
                    "sNext": "Prossimo",
                    "sPrevious": "Precedente"
                },
                "oAria": {
                    "sSortAscending": ": Premi per ordinare la colonna in ordine ascendente",
                    "sSortDescending": ": Premi per ordinare la colonna in ordine descendente"
                }
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row) {
                        return moment(data, "DD/MM/YYYY").format("DD/MM/YYYY");
                    }
                }
            ],
            "dateFormat": "dd/mm/yyyy",
            "scrollY": "450px",
            "info": true,
            "searching": true,
            "scrollCollapse": true,
            "paging": true
        });

        // I instantiate the two datepickers here, instead of all at once like before.
        // I also changed the dateFormat to match the format of the dates in the data table.
        $("#startdate").datepicker({
            "dateFormat": 'dd/mm/yy',
            "onSelect": function (date) {

                var momentObject = moment(date, "DD/MM/YYYY");
                var dateObject = momentObject.toDate();

                minDateFilter = dateObject.getTime();
                table.draw(); // Redraw the table with the filtered data.
            }
        }).keyup(function () {
            minDateFilter = new Date(this.value).getTime();
            table.draw();
        });

        $("#enddate").datepicker({
            "dateFormat": 'dd/mm/yy',
            "onSelect": function (date) {

                var momentObject = moment(date, "DD/MM/YYYY");
                var dateObject = momentObject.toDate();

                maxDateFilter = dateObject.getTime();
                table.draw();
            }
        }).keyup(function () {
            maxDateFilter = new Date(this.value).getTime();
            table.draw();
        });

        // The below code actually does the date filtering.
        minDateFilter = "";
        maxDateFilter = "";

        $.fn.dataTableExt.afnFiltering.push(
            function (oSettings, aData, iDataIndex) {
                if (typeof aData._date == 'undefined') {

                    var dateObject = moment(aData[0], "DD/MM/YYYY").toDate();
                    aData._date = new Date(dateObject).getTime();
                }


                if (minDateFilter && !isNaN(minDateFilter)) {

                    if (aData._date < minDateFilter) {
                        return false;
                    }
                }

                if (maxDateFilter && !isNaN(maxDateFilter)) {
                    if (aData._date > maxDateFilter) {
                        return false;
                    }
                }

                return true;
            }
        );


    });

</script>
